body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  animation-name: floatUpAndDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatUpAndDown {
  0% {
    transform: translate(0, 2.5rem);
  }

  50% {
    transform: translate(0, 1rem);
  }

  100% {
    transform: translate(0, 2.5rem);
  }
}

.Scene {
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
}

.Characters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.Name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.HP {
  background-color: rgb(221, 221, 221);
  text-align: center;
}

.HP .Bar {
  height: 2rem;
  background-color: red;
}

.HP .Bar .Health {
  height: 2rem;
  background-color: green;
}

.SpellList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

button {
  height: 5rem;
  background-color: white;
}

button:hover {
  background-color: rgb(185, 185, 185);
}

button:active {
  background-color: rgb(53, 53, 53);
}

.Start_New_Game {
  text-align: center;
  margin: 0 15rem;
}

.History_Item {
  width: 40rem;
  background-color: rgb(53, 53, 53);
  color: white;
  margin: 0.2rem;
}